/*Styling for all the pages*/
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  background-color: #78b9ea;
  font-family: "Montserrat", sans-serif;
}
#shopPage{
    font-family: "Poppins", sans-serif;
}
header {
    text-align: center;
    background: radial-gradient(circle at 48.7% 44.3%, #1e90e7 0%, #3871d1 22.9%, #264c8c 76.7%, #1f3f74 100.2%);
    color: orange;
    font-size: 25px;
    padding: 1%;
}
#cartImg {
    width: 3.5%;
    /* float: right; */
    position: absolute;
    right: 20px;
    top: 20px;
}
#menuImg {
    width: 4%;
    /* float: right; */
    position: absolute;
    left: 20px;
    top: 20px;
    background: rgba(0,0,0,0);
    border:none;
}
nav{
    background: linear-gradient(179.5deg, #ffca45 3.3%, #ff9d49 96%);
    color: white;
    padding: 1%;
    margin-bottom: 1%;
    text-align: center;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding-left: 1.5%;
}
nav ul li a:hover{
    background: linear-gradient(to top, #78b9ea 5%, #1f3f74 100%);
    text-decoration: none;
    color: #ffffff;
    padding: 1.1%;
}
.imagesSec{
    float: left;
    background-color: #78b9ea;
    width:50%
}
.imagesSec img{
    width:70%;
    padding-left: 10%;    
}
.descSec{
    float: left;
    background-color: #78b9ea;
    width: 50%;
    color: black;
    font-size: 16px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.descSec p{
    width: 90%;
    text-align: justify;
}
footer {
    background: radial-gradient(circle at 48.7% 44.3%, #1e90e7 0%, #3871d1 22.9%, #264c8c 76.7%, #1f3f74 100.2%);
    clear: both;
    padding: 1% 0;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
}
footer p{
    color: orange;
    font-size: 20px;
    text-align: center;
}
/*Contact page styling */
.widgets{
    position: relative;
    width: 100%;
    height: 72%;
}
.contactPage{
    background: linear-gradient(179.5deg, #ffca45 3.3%, #ff9d49 96%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 2%;
    border: #1f3f74 solid 1px;
    border-radius: 5%;
}
.contactPage h2{
    text-align: center;
}
.widget{
    width: 100%;
    margin-bottom: 1.5%;
}
#formSubmit {
    width: 100%;
    text-align: center;
}
.btnContact{
    background: radial-gradient(circle at 48.7% 44.3%, #1e90e7 0%, #3871d1 22.9%, #264c8c 76.7%, #1f3f74 100.2%);
    text-align: center;
    color: white;
    width: 10%;
    margin: 0 auto;
}
.btnContact:hover{
    background: radial-gradient(circle at 12.3% 19.3%, #5558da 0%, #5fd1f9 100.2%);
    color: black;
}

/* Gallery page styling */
#galNav{
    margin: 0;
}
.galleryFilter{
    background: linear-gradient(179.5deg, #ff9d49 50%, #ffca45 100%);
    padding: 1%;
    width: 15%;
    height: calc(100vh - 50px);
    position: sticky;
    border-right: #1f3f74 solid 1px;
    /* height:100%; */
}
.galleryFilter h2{
    text-decoration: underline;
}
.galleryImg{
    width: 82.9%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    justify-content: space-evenly;
}
/*Shop page styling*/
.notice{
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1%;
}
.filterSec{
    background: linear-gradient(179.5deg, #ffca45 3.3%, #ff9d49 96%);
    border: #1f3f74 solid 1px;
    float: left;
    width: 49.7%;
    margin-bottom: 1%;
}
.productFilter{
    border: #1f3f74 solid 1%;
}
.filterSec form{
    width: 99%;
    padding: 1%;
}
.filterSec form h2{
    padding-bottom: 1%;
    text-decoration: underline;
}
.filterSec form select{
    width: 36%;
}
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main div{
    background-color: #aed8f8;
    width: 22%;
    margin-bottom: 2.5%;
    text-align: center;
}
main div:hover{
    border: #1f3f74 solid 2px;
}
main img{
    width:100%
}
main button{
    width: 48.1%;
    background: linear-gradient(179.5deg, #ffca45 3.3%, #ff9d49 96%);    
}
main button:hover{
    width: 49%;
    background: linear-gradient(179.5deg, #ff9d49 96%, #ffca45 3.3%);
}