/*Styling for all the pages*/
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  background-color: #78b9ea;
}
header {
    text-align: center;
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);
    color: orange;
    font-size: 25px;
    padding: 5%, 0;
}
header img {
    width: 3.5%;
    float: left;
}
nav{
    background: linear-gradient(179.5deg, #ffca45 3.3%, #ff9d49 96%);
    color: white;
    padding: 1%;
    margin-bottom: 1%;
    text-align: center;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding-left: 1.5%;
}
nav ul li a:hover{
    background: linear-gradient(to top, #78b9ea 0%, #1f3f74 100%);
    text-decoration: none;
    color: #ffffff;
    padding: 1.1%;
}
.imagesSec{
    float: left;
    background-color: #78b9ea;
    width:50%
}
.imagesSec img{
    width:70%;
    padding-left: 10%;    
}
.descSec{
    float: left;
    background-color: #78b9ea;
    width: 50%;
    color: black;
    font-size: 16px;
}
.descSec p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterSec{
    background: linear-gradient(179.5deg, #ffca45 3.3%, #ff9d49 96%);
    float: left;
    width: 49.88%;
    border: #1f3f74 solid 1px;
}
footer {
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);
    clear: both;
    padding: 1%;
}
footer p{
    color: orange;
    font-size: 20px;
    text-align: center;
}
/*Shop page formating*/
.notice{
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1%;
}
.filterSec{
    margin-bottom: 1%;
}
.filterSec form{
    padding: 1%;
}
.filterSec form h2{
    padding-bottom: 1%;
    text-decoration: underline;
}
.filterSec form select{
    width: 40%;
}
main{
    width: 22%;
}
main div{
    background-color: #aed8f8;
    margin: 2%;
}
main div:hover{
    border: #1f3f74 solid 2px;
}
main img{
    width:100%
}